:root{
  --main-color: 25, 97%, 53%;

  --bg-primary: 216, 12%, 8%;
  --container-bg-color: 213, 19%, 18%;
  --medium-grey: 216, 12%, 54%;
  --light-grey: 217, 12%, 63%;
  --white: 0, 0%, 100%;

  --ff: 'Overpass', sans-serif;
  --fs: 15px;
  --fw-large: 700;
  --fw-small: 400;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  align-items: center;
  background-color: hsl(var(--bg-primary));
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container{
  background-color: hsla(var(--container-bg-color), .65);
  border-radius: 2rem;
  height: auto;
  padding: 2rem;
  width: min(90%, 320px);
}

.container .rated .img-container{
  background-color: hsla(var(--container-bg-color), 1);
  border-radius: 50%;
  margin-bottom: 1.5rem;
  padding: .85rem;
  width: fit-content;
}

.container .rated .img-container img{
  display: block;
  width: .9rem;
}

.container .rated h1{
  color: hsla(var(--white), .9);
  font-family: var(--ff);
  font-size: 1.45rem;
  font-weight: var(--fw-large);
  margin-bottom: .75rem;
}

.container .rated p{
  color: hsla(var(--white), .4);
  font-family: var(--ff);
  font-size: .8rem;
  font-weight: var(--fw-small);
  line-height: 1.45;
  margin-bottom: 1.5rem;
}

.rated .rating-container{
  display: flex;
  gap: .5rem;
  justify-content: space-evenly;
}

.rated .rating{
  background-color: hsla(var(--medium-grey), .2);
  border-radius: 50%;
  color: hsla(var(--light-grey), 1);
  font-family: var(--ff);
  font-size: .85rem;
  font-weight: var(--fw-small);
  margin-bottom: 1.75rem;
  padding: .6rem .9rem;
  text-align: center;
}
.rated .rating:hover{
  background-color: hsla(var(--light-grey), 1);
  color: hsl(var(--white));
  cursor: pointer;
}

.rated .btn{
  background-color: hsl(var(--main-color));
  border: none;
  border-radius: 5rem;
  color: hsla(var(--white), .8);
  font-family: var(--ff);
  font-size: .85rem;
  font-weight: var(--fw-large);
  letter-spacing: .15rem;
  padding-block: .65rem;
  width: 100%;
}

.rated .btn:active{
  background-color: hsl(var(--white));
  color: hsl(var(--main-color));
  cursor: pointer;
}


.container .thanks{
  display: none;
}
.container .thanks img{
  display: block;
  height: 5.5em;
  margin-bottom: 1rem;
  margin-inline: auto;
}
.container .thanks .text{
  background-color: hsla(var(--container-bg-color), .6);
  border-radius: 2rem;
  color: hsla(var(--main-color), .65);
  font-family: var(--ff);
  font-size: .725rem;
  font-weight: var(--fw-small);
  margin-bottom: 1rem;
  margin-inline: auto;
  padding-block: .5rem;
  text-align: center;
  width: 65%;
}

.container .thanks p:first-of-type{
  color: hsla(var(--white), 1);
  font-family: var(--ff);
  font-size: 1.4rem;
  font-weight: var(--fw-large);
  margin-bottom: .75rem;
  text-align: center;
}


.container .thanks p:last-of-type{
  color: hsla(var(--white), .45);
  font-family: var(--ff);
  font-size: .75rem;
  font-weight: var(--fw-small);
  line-height: 1.4;
  text-align: center;
}
